/* FORMAS */

#quadrado,
#triangulo,
#circulo,
#tra_qua,
#tra_tri,
#retangulo {
  width: 0;
  height: 0;
  margin: auto;
  transition: border 0.5s;
}

#triangulo {
  border-width: 0 100px 200px 100px;
  border-style: solid;
  border-color: yellow transparent;
}

#quadrado {
  border: 100px solid red;
}

#circulo {
  border: 100px solid blue;
  border-radius: 100px;
}

#trapezio {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

#tra_qua {
  border-width: 100px 50px;
  border-style: solid;
  border-color: green;
}

#tra_tri {
  border-width: 100px 50px;
  border-style: solid;
  border-color: transparent transparent green green;
}

#retangulo {
  border: 100px solid orange;
  border-width: 50px 100px;
}

/* FORMATAÇÕES ESPECÍFICAS */

input[type=text],
input[type=number] {
  width: 100%;
  box-sizing: border-box;
}

table {
  margin: auto;
}

th {
  min-width: 205px;
  width: 205px;
}

#tabela {
  overflow-x: scroll;
}

#formas {
  height: 209px;
}

p {
    text-align: center;
}

input[type=button] {
    display: block;
    margin: auto;
}

input[type=text] {
    background-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}
